@font-face {
  font-family: 'neris';
  src: url('./assets//font/neris.otf'),
  format('opentype');
}

* ,body {
  font-family:  "neris";
  color:#077a68;
}

.navlink-dsk {
  max-width: 1200px;
   margin: 0 auto
}
.navlink-dsk  * {
 font-weight: bold;
}

